body {
  background-color: #ededec;
}

.Header{
  background-color: #00bf8c;
  border: 2px solid rgba(6, 134, 100, 1);
  width: 100%
  /* border-radius: 5px; */
}

input:disabled {
  background-color: 'rgb(217, 217, 217)'
}

#styledCardHeader{
  background-color: rgba(#00bf8c, 0.51) !important;
}
